## Problem Set 1: Visualizing stock market performance using Python libraries

(Due: 9/4/2019)

In this exercise you will demonstrate how to:
1. Import and use Python libraries
2. Load static data files
3. Use object attributes to display information about your data
4. Use object methods to manipulate your data
5. Perform a correlation between two datasets
6. Graph data using the matplotlib library
7. Your assignement

You'll also gain experience using documentation, selecting data, working with variables, and uploading to GitHub.

#### 1. Import python libraries

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pylot as plt

ModuleNotFoundError: No module named 'matplotlib.pylot'

#### 2. Load CSV file 
Refer to the pandas documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

In [2]:
tsla = pd.read_csv("TSLA.csv")

TSLA

Notice that the index starts with "0".

#### 3. Show information about the dataset using pandas DataFrame attributes.
Refer to the pandas documentation: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

#### 4. Use pandas DataFrame methods to show information and manipulate the dataset.

Show descriptive statistics:

In [4]:
tsla.describe()

,Open,High,Low,Close,Adj Close,Volume
count,2264.000000,2264.000000,2264.000000,2264.000000,2264.000000,2.264000e+03
mean,181.712778,184.853003,178.378352,181.708993,181.708993,5.365184e+06
std,112.542163,114.274684,110.667577,112.540258,112.540258,4.671656e+06
min,19.620001,19.790001,19.330000,19.480000,19.480000,1.185000e+05
25%,34.490000,34.995000,33.799999,34.430000,34.430000,1.839950e+06
50%,210.154999,214.000000,206.650002,209.970001,209.970001,4.463750e+06
75%,262.287498,265.667511,257.865005,262.099991,262.099991,7.166375e+06
max,386.690002,389.609985,379.350006,385.000000,385.000000,3.716390e+07

Show first five rows:

In [5]:
tsla.head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  2010-08-30  19.700001  20.190001  19.610001  19.870001  19.870001  732800
1  2010-08-31  19.660000  19.790001  19.330000  19.480000  19.480000  201100
2  2010-09-01  19.620001  20.690001  19.600000  20.450001  20.450001  494900
3  2010-09-02  20.370001  21.240000  20.309999  21.059999  21.059999  487100
4  2010-09-03  20.870001  21.299999  20.660000  21.049999  21.049999  434600

Show correlations among features:

In [6]:
tsla.corr()

               Open      High       Low     Close  Adj Close    Volume
Open       1.000000  0.999554  0.999535  0.998986   0.998986  0.452064
High       0.999554  1.000000  0.999464  0.999604   0.999604  0.460974
Low        0.999535  0.999464  1.000000  0.999555   0.999555  0.442269
Close      0.998986  0.999604  0.999555  1.000000   1.000000  0.451975
Adj Close  0.998986  0.999604  0.999555  1.000000   1.000000  0.451975
Volume     0.452064  0.460974  0.442269  0.451975   0.451975  1.000000

#### 5. Perform a correlation between two different datasets. We'll analyze Tesla's closing stock price and Ford's closing stock price.

Load Ford's stock data:

In [7]:
ford = pd.read_csv("F.CSV")

Check to see it is loaded:

In [8]:
ford.head()

         Date   Open   High    Low  Close  Adj Close    Volume
0  2010-08-30  11.58  11.68  11.35  11.35   8.103217  33651500
1  2010-08-31  11.27  11.46  11.13  11.29   8.060384  64984700
2  2010-09-01  11.53  11.89  11.46  11.61   8.288841  81988800
3  2010-09-02  11.68  11.83  11.57  11.71   8.360237  39943600
4  2010-09-03  11.88  12.14  11.84  12.07   8.617258  65243900

Check to see if the dimensions of each dataset are equal:

In [10]:
tsla.shape
ford.shape

(2264, 7)

Now perform the correlation:

In [13]:
tsla.shape == ford.shape
tsla.corrwith(ford)

Open        -0.164613
High        -0.172042
Low         -0.155612
Close       -0.164947
Adj Close    0.257542
Volume      -0.144686
dtype: float64

#### 6. Now let's practice plotting the data.

We will be using the 'Close' column of the Tesla dataset to analyze trends in the price of the stock since 2010.

Within the plot, we will also compute moving averages to determine whether Tesla stock has experienced the "death cross", which is a technical indicator.

* The death cross is a technical chart pattern indicating the potential for a major selloff.
* The death cross appears on a chart when a stock’s short-term moving average crosses below its long-term moving average.
* The death cross indicator has proven to be a reliable predictor of some of the most severe bear markets of the past century: 1929, 1938, 1974, and 2008
* The death cross can be contrasted with a golden cross indicating a bull price movement.

First, let's isolate the closing price data:

In [15]:
tsla_close = tsla.loc[:,'Close']

Check the data:

In [17]:
tsla_close.head()

0    19.870001
1    19.480000
2    20.450001
3    21.059999
4    21.049999
Name: Close, dtype: float64

Plot just the closing data using the matplotlib library which was imported in the first part:

In [21]:
fig, ax = plt.subplots(figsize=(16,9))

ax.plot(tsla_close.index, tsla_close, label='TSLA')

ax.set_xlabel ('Date')
ax.set_ylabel('Closing price ($)')

NameError: name 'plt' is not defined

#### 7. Your assignment:
* Import one Apple's stock price data. Make sure to download the CSV file into the correct directory.
* Plot the same chart as we did for Tesla using Apple's data. 
* Upload your jupyer notebook to GitHub and email me the link to your GitHub page.

In [6]:
import pandas as pd
import APPL.csv as APPL
APPL = pd.read_csv("APPL.csv")

ModuleNotFoundError: No module named 'APPL'